<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacroManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <MacroManager.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value>C:\Program Files (x86)\SquareEnix\FINAL FANTASY XIV - A Realm Reborn</value>
            </setting>
            <setting name="UserPath" serializeAs="String">
                <value>C:\Users\Liam\Documents\My Games\FINAL FANTASY XIV - A Realm Reborn</value>
            </setting>
        </MacroManager.Properties.Settings>
    </userSettings>
</configuration>